<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/tag::tag"/>
<body>
<div th:replace="common/head::head"/>
<div id="cl-wrapper" class="fixed-menu">
    <!-- 中间内容 start -->
    <div class="container-fluid" id="pcont" name="context">
        <div class="page-breadcrumbs" id="navigation">
            <ul class="breadcrumb">
                <li><i class="iconfont">&#xe63a;</i> <a href="#">首页</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
